.chapter-container {
    display: none;
}

.book-topBar {
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 50%;
        border-radius: 30px;
        box-shadow: 0 0 1em whitesmoke;
    }

    .book-topBar-content {
        width: 40%;
        margin: 15px 0 0 80px;
        background-color: rgba(255, 0, 0, 0.15);
        font-size: 45px;
        letter-spacing: 2px;
        padding: 60px;
        border-radius: 30%;
        border: 2px solid gold;
        box-shadow: 0 0 1em gold;
        height: fit-content;
        font-family: 'Tangerine', cursive;
    }

    .section-title {
        margin: 120px 0 100px;
        text-align: center;
        width: 100%;
    }
}


.book-content-container {

    .tab,
    .inside-navigation a {
        color: whitesmoke;
        font-size: 40px;
    }

    .inside-navigation {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;

        a {
            display: inline-block;
            text-decoration: none;
            background-color: rgba(255, 0, 0, 0.25);
            border-radius: 50%;
            padding: 20px 40px;
        }
    }

    .tab {
        text-align: right;
        border-bottom: 3px solid rgba(255, 0, 0, 0.25);
    }

    .section-title {
        cursor: pointer;
        padding-left: 20px;
    }

    .centered-text {
        padding-top: 100px;
        width: 100%;
        text-align: center;
        cursor: default;
    }

    .section-subtitle {
        width: 100%;
        font-size: 20px;
    }

    .chapter-content {
        width: 80%;
        margin: 50px auto;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 1.5px;

        .note {
            color: lightsteelblue;
            cursor: pointer;
        }

        .note.active {
            color: rgba(245, 245, 245, 0.5);
        }
    }

    .chapter-container.active {
        display: block;
    }

    .chapter-content::first-letter {
        margin-left: 80px;
    }

    .chapter-content-to-right {
        margin: 0px auto;
        padding-bottom: 20px;
        text-align: right;
    }
}

.note-modal {
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px;
    opacity: 0;
    z-index: 10;
    display: none;
    width: 80%;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1.5px;

    .fa-times {
        position: fixed;
        top: -20px;
        left: 50%;
        font-size: 50px;
        cursor: pointer;
    }
}


.note-modal.active {
    display: block;
    animation: showModal 0.3s linear both;
}

@keyframes showModal {
    0% {
        top: 0;
        opacity: 0;
    }

    10% {
        top: 50%;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}