.chapter-container {
    display: none;
}

.book-topBar {
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;

    img {
        border-radius: 30px;
    }

    .book-topBar-content {
        width: 40%;
        margin: 15px 0 0 80px;
        background-color: rgba(255, 0, 0, 0.15);
        font-size: 45px;
        letter-spacing: 2px;
        padding: 60px;
        border-radius: 30%;
        border: 2px solid gold;
        height: fit-content;
        font-family: 'Tangerine', cursive;
    }

    .section-title {
        margin-top: 120px;
        text-align: center;
        width: 100%;
    }
}


.book-content-container {

    .section-title {
        cursor: pointer;
    }

    .centered-text {
        padding-top: 100px;
        width: 100%;
        text-align: center;
    }

    .section-subtitle {
        width: 100%;
        font-size: 20px;
    }

    .chapter-content {
        width: 80%;
        margin: 50px auto;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 1.5px;
    }

    .chapter-container.active {
        display: block;
    }

    .chapter-content::first-letter {
        margin-left: 80px;
    }

    .chapter-content-to-right {
        margin: 0px auto;
        text-align: right;
    }
}