@media (max-width:1050px) {
    .book-topBar {
        margin-top: 0;

        img {
            width: 100%;
        }

        .book-topBar-content {
            width: 100%;
            margin: 100px 50px;
        }
    }

    .book-content-container {
        .section-title {
            padding-left: 0;
            margin: 100px auto;
        }

        .tab {
            padding-right: 25px;
        }
    }
}

@media (max-width:850px) {
    .section-title {
        font-size: 40px;
    }

    header {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .slide-text {
                        font-size: 25px;
                        line-height: 35px;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .book-topBar {
        .book-topBar-content {
            font-size: 30px;
            text-align: center;
        }
    }

    .rules {
        .rule-text {
            padding: 10px 15px;
            font-size: 20px;

            .rule-text-item {
                font-size: 25px;
            }
        }
    }

    .book-content-container {
        .section-title {
            font-size: 35px;
        }

        .section-subtitle {
            font-size: 15px;
        }

        .chapter-content {
            font-size: 20px;
        }

        .inside-navigation {

            a {
                padding: 15px 30px;
                margin: 10px 10px;
            }
        }
    }

    .note-modal {
        padding: 30px;
        font-size: 20px;
    }
}


@media (max-width:675px) {
    .section-title {
        font-size: 25px;
        margin-bottom: 60px;
    }

    section {
        margin-top: 130px;
    }

    header {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .slide-text {
                        font-size: 20px;
                        line-height: 30px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .rules {

        .rule-text {
            padding: 10px;
            font-size: 15px;

            .rule-text-item {
                font-size: 20px;
            }
        }
    }

    .books {
        .books-container {
            .book-column {
                width: 40%;
                height: 250px;
            }
        }
    }

    .section-title::after {
        bottom: -15px;
        height: 8px;
    }

    .book-content-container {
        .section-title {
            font-size: 25px;
            padding-left: 0;
            margin: 50px auto;
        }

        .section-subtitle {
            font-size: 15px;
        }

        .tab,
        .inside-navigation a {
            font-size: 20px;
        }

        .tab {
            padding-right: 25px;
        }

        .chapter-content {
            font-size: 16px;
            text-align: center;
        }

        .chapter-content::first-letter {
            margin-left: 0;
        }
    }

    .book-topBar {
        img {
            width: auto;
            height: 100vh;
            margin: 0 auto;
        }

        .book-topBar-content {
            width: 100%;
            margin: 100px 50px;
        }

        .section-title {
            margin: 70px 0 0;
        }
    }

    .note-modal {
        padding: 10px;
        font-size: 16px;

        .fa-times {
            font-size: 35px;
        }
    }
}

@media (max-width:575px) {
    header {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .slide-text {
                        font-size: 30px;
                        line-height: 45px;
                        padding: 10px;
                        width: 100%;
                        bottom: 0;
                        right: 0;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    .rules {
        padding: 0;

        .section-title {
            width: 100%;
            margin-left: 0;
            padding-left: 15px;
        }

        .rule-text {
            padding: 5px 20px 5px 30px;
            font-size: 20px;
            line-height: 42px;
            letter-spacing: 1.5px;

            .rule-text-item {
                color: gold;
                font-size: 35px;
            }
        }
    }

    .books {
        .books-container {
            .book-column {
                width: 80%;
            }
        }
    }

    .book-topBar {
        margin-top: 0;
        margin-bottom: 100px;

        .section-title {
            margin: 50px 0;
        }

        img {
            height: auto;
            width: 100%;
            border-radius: 0;
            box-shadow: none;
        }

        .book-topBar-content {
            width: 100%;
            margin: 100px 10px;
            border-radius: 10%;
            padding: 60px 20px;
        }

    }

    .book-content-container {
        .section-title {
            font-size: 16px;
        }

        .section-subtitle {
            font-size: 10px;
        }

        .tab,
        .inside-navigation a {
            font-size: 16px;
        }

        .inside-navigation {

            a {
                padding: 8px 16px;
                margin: 5px 5px;
            }
        }

        .chapter-content {
            font-size: 14px;
        }
    }

    .note-modal {
        padding: 10px;
        font-size: 12px;

        .fa-times {
            font-size: 35px;
        }
    }
}

@media (max-width:320px) {
    header {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .slide-text {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }
            }
        }
    }

    .book-topBar {
        .book-topBar-content {
            font-size: 23px;
        }
    }

    .book-content-container {
        .section-title {
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }
}