.rules {
    padding: 0 80px;

    .section-title {
        margin-left: -60px;
    }

    .rule-text {
        padding: 15px;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 1.5px;
    }
}